
/* CSS for the popup */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0; /* Adjust as needed */
    color: black;
    background-color: white;
}
  

.register-container {
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
  }
  .register-container .rigister{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color:aqua; /* Blue color */
    font-size: 16px;
    width: 150px;
    height:35px ;
    border: none;
    text-align: center;
    
    
  }
  
.form-popup {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 4%; /* Position the popup at the center vertically */
    left: 50%; /* Position the popup at the center horizontally */
    transform: translate(-30%, -40%); /* Center the popup */
    border: 1px solid #ccc;
    z-index: 9999;
    background-color: #fff;
    width: 500px;
    max-width: 600px;
    padding: 2px;
    height: 470px; /* Fixed height for the form container */
  overflow-y: auto; /* Add scrollbar for overflow content */
  margin-top: 5px;
  border-radius: 5px;
  
  }
  
  /* Show the popup when the showForm variable is true */
  .show {
    display: block;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .close {
    float: right;
    cursor: pointer;
    background-color: rgb(224, 233, 233);
    color: black;
    border-radius: 20px;
    margin-top: 3px;
  }
  
  /* CSS for the registration form */
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .ageLabel {
    display: block;
    margin-top: 10px;
    color: black;
  }
  
  .ageLabel input {
    width: 100%;
    color: black;
  }
  span{
    color: black;
  }
  
  /* CSS for the dropdowns */
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: black;
  }
  
  /* CSS for the age slider */
  .mat-slider {
    width: 100%;
    margin-bottom: 10px;
  }
  
  /* CSS for the age label */
  .ageLabel {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
  }
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  .submit-button {
    background-color: blue;
    color: white;
  }
  
  .cancel-button {
    background-color: white;
    color: black;
    border: 1px solid #ccc; /* Add border to cancel button */
    margin-right: 10px;
  }
  
  .form-check-input {
    margin-right: 5px;
    color: black;
  }
  