<div class="hero">
  <app-navbar></app-navbar>
  <img src="https://wallpapers.com/images/hd/black-office-background-o7l7pnc11u0c5hzq.jpg" class="img-fluid" alt="Home Image">
    <div class="name1">
        <h1>I'm looking for...</h1>
      </div>
      <div class="search">
      <input type="search" name="" placeholder="Enter Job Description" id="">
      <button>serch</button>
      </div>
    <div class="disply p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-none">
        <div class="image-overlay">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Full Time</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Part Time/Casul/Freelance</label>
              </div>
              <select id="location" name="location">
                <option value="" disabled selected hidden>Select your location</option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
                <option value="Miami">Miami</option>
              </select>
      </div>
      </div>
  <div class="container-flex m-0" style="border: 2px solid blue; 
  padding: 0px; margin: 0; text-align: center; justify-content: center;">
    <!-- Container content goes here -->
    <strong><h1>Creative Digital Recruitment</h1></strong>
    <p>Based in sury hills,the creative hub of sydnev we are suround by creativaly</p>
    <p>and that refiects on the type of jobs we recruts for</p>
  </div>
  <div class="container">
    <app-rigister-form></app-rigister-form>
  </div>
  <footer class="footer" style="background-color: rgb(14, 14, 44); color: white;">
    <div style="color: beige;" class="input-with-logo">
      <span class="gmail-logo"></span>
      <input type="text" placeholder="Enter your Gmail">
    </div>
  </footer>
</div>

