<div class="hero">
  <app-navbar></app-navbar>
  <img src="https://wallpapers.com/images/hd/black-office-background-o7l7pnc11u0c5hzq.jpg" class="img-fluid" alt="Home Image">
    <div class="name1">
        <h1>I'm looking for...</h1>
      </div>
      <div class="search">
      <input type="search" name="" placeholder="Enter Job Description" id="">
      <button>serch</button>
      </div>
    <div class="disply rounded text-body-emphasis bg-body-none">
        <div class="image-overlay">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Full Time</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Part Time/Casul/Freelance</label>
              </div>
              <select id="location" name="location">
                <option value="" disabled selected hidden>Select your location</option>
                <option value="New York">New York</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Chicago">Chicago</option>
                <option value="Houston">Houston</option>
                <option value="Miami">Miami</option>
              </select>
              <div class="about">
                <app-about></app-about>
              </div>
      </div>
       </div>
      <div class="box">
        <div class="box-sm red"></div>
        <div class="box-sm orange"></div>
        <div class="box-sm yellow"></div>
        <div class="box-sm green"></div>
        <div class="box-sm blue"></div>
        <div class="box-sm purple"></div>
        <div class="box-sm red"></div>
        <div class="box-sm orange"></div>
        <div class="box-sm yellow"></div>
        <div class="box-sm green"></div>
        <div class="box-sm blue"></div>
        <div class="box-sm purple"></div>
      </div>
  <div class="container-flex mt-3 mb-3" style=" 
  padding: 0px; margin: 0; text-align: center; justify-content: center;">
    <!-- Container content goes here -->
    <h3>We're leaders in</h3>
    <strong><h1>Creative Digital Recruitment</h1></strong>
    <hr style="border: 3px solid rgb(17, 61, 87); width: 150px;  margin: 0 auto; margin-top: 30px; margin-bottom: 25px;">
    <p>Based in sury hills,the creative hub of sydnev we are suround by creativaly</p>
    <p>and that refiects on the type of jobs we recruts for</p>
    <button>FIND OUT MORE ABOUT US!</button>
  </div> 
  <div>
    <!-- <app-rigister-form></app-rigister-form> -->
  </div>
  <div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow"></div>
    <div class="box-sm green"></div>
    <div class="box-sm blue"></div>
    <div class="box-sm purple"></div>
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow"></div>
    <div class="box-sm green"></div>
    <div class="box-sm blue"></div>
    <div class="box-sm purple"></div>
  </div>
  <footer class="footer" style="margin-top: 0; padding: 0;">
    <div style="background-color: rgb(14, 14, 44); color: white; height: 100px;">
    <div style="color: beige; padding-top: 30px;" class="input-with-logo">
      <span class="gmail-logo"></span>
      <input type="text" placeholder="Enter your Gmail" style="width: 300px;  border: 3px solid aqua;  border-radius: 5px; padding-right: 10px; background-color:transparent ; color: white;">
    </div>
</div>
<div class="box">
  <div class="box-sm red"></div>
  <div class="box-sm orange"></div>
  <div class="box-sm yellow"></div>
  <div class="box-sm green"></div>
  <div class="box-sm blue"></div>
  <div class="box-sm purple"></div>
  <div class="box-sm red"></div>
  <div class="box-sm orange"></div>
  <div class="box-sm yellow"></div>
  <div class="box-sm green"></div>
  <div class="box-sm blue"></div>
  <div class="box-sm purple"></div>
</div>
    <div class="Container mt-3 " style="color: black;">
      <strong>Copyright©2004 Two Bytes Consulting. Terms & Policies </strong>
    </div>
  </footer>
</div>

