<app-navbar></app-navbar>
<body>
  <div class="profile-container">
    <div *ngIf="user" class="profile-photo">
      <h5 style="color: blue;">Profile</h5>
      <img [src]="user.profileImage" alt="Profile Photo">
      <div class="photo-buttons">
        <button (click)="editProfile()">Edit Photo</button>
        <button (click)="editProfile()">Edit Profile</button>
        </div>
      </div>
        <div *ngIf="user" class="user-info">
          <ng-container *ngIf="!isEditing; else editFormSection">
            <p>I'm {{user.firstname}} {{user.lastname}} and I'm {{user.age}} years old.</p>
            <p>You can send your email to {{user.email}}. I live in the state of {{user.state}}.</p>
            <p>I like to play {{user.tags}}, and reading books. Please send me newsletters.</p>
            <p>Please reach out to me on my phone number: {{user.phoneNo}}</p>
            <button style="background-color: rgb(36, 123, 36); color: white; border: none;">I Agree</button>
          </ng-container>
    </div>
    <div class="box">
        <div class="box-sm red"></div>
        <div class="box-sm orange"></div>
        <div class="box-sm yellow"></div>
        <div class="box-sm green"></div>
        <div class="box-sm blue"></div>
        <div class="box-sm purple"></div>
        <div class="box-sm red"></div>
        <div class="box-sm orange"></div>
        <div class="box-sm yellow"></div>
        <div class="box-sm green"></div>
        <div class="box-sm blue"></div>
        <div class="box-sm purple"></div>
      </div>
      <ng-template #editFormSection>
        <!-- Show edit form when editing -->
        <form [formGroup]="editForm" (ngSubmit)="submitForm()" class="row g-3">
          <label for="profileImage">Profile Image:</label>
  <input type="file" id="profileImage" formControlName="profileImage" (change)="onFileChange($event)" accept="image/*">
          <div class="col-md-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" id="firstName" formControlName="firstname" class="form-control">
          </div>
          <div class="col-md-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" id="lastName" formControlName="lastname" class="form-control">
          </div>
          <div class="col-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" formControlName="email" class="form-control">
          </div>
          <div class="col-3">
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="text" id="phoneNumber" formControlName="phoneNo" class="form-control">
          </div>
          <div class="col-3">
          <select formControlName="country" (change)="onCountryChange()">
            <option value="" disabled selected>Select Country</option>
            <option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </option>
          </select>
        </div>
        <div class="col-3">
          <select formControlName="state">
            <option value="" disabled selected>Select State</option>
            <option *ngFor="let state of states[country?.value]" [value]="state">
              {{ state }}
            </option>
          </select>
        </div>
          <!-- Age slider -->
          <div class="col-3">
          <label class="ageLabel">Age</label>
          <mat-slider showTickMarks min="0" max="100" step="1" discrete [displayWith]="formatLabel">
            <input matSliderThumb formControlName="age" />
          </mat-slider>
        </div>
          <br>
          <!-- Address Type -->
          <label for="addressType">Address Type:</label>
          <select formControlName="addressType">
            <option value="home">Home</option>
            <option value="company">Company</option>
          </select>
          <br>
          <!-- Address Fields (conditional) -->
          <div class="col-12">
          <div *ngIf="editForm.get('addressType')?.value === 'home'">
            <div class="col-6">
            <label for="address1">Home Address 1:</label>
            <input type="text" formControlName="address1" /><br>
          </div>
            <div class="col-6">
            <label for="address2">Home Address 2:</label>
            <input type="text" formControlName="address2" />
          </div>
        </div>
      </div>
          
          <div *ngIf="editForm.get('addressType')?.value === 'company'">
            <div class="col-6">
            <label for="companyAddress1">Company Address 1:</label>
            <input type="text" formControlName="companyAddress1" />
          </div>
          <div class="col-6">
            <label for="companyAddress2">Company Address 2:</label>
            <input type="text" formControlName="companyAddress2" />
          </div>
        </div>
          <div class="col-12 d-flex justify-content-between">
            <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">Save Changes</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </div>
        </form>
      </ng-template>
       
  </div>
  <footer class="footer" style="margin-top: 0; padding: 0;">
    <div style="background-color: rgb(14, 14, 44); color: white; height: 100px;">
    <div style="color: beige; padding-top: 30px;" class="input-with-logo">
      <span class="gmail-logo"></span>
      <input type="text" placeholder="Enter your Gmail" style="width: 300px;  border: 3px solid aqua;  border-radius: 5px; padding-right: 10px; background-color:transparent ; color: white;">
    </div>
</div>
  </footer>
  <div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow"></div>
    <div class="box-sm green"></div>
    <div class="box-sm blue"></div>
    <div class="box-sm purple"></div>
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow"></div>
    <div class="box-sm green"></div>
    <div class="box-sm blue"></div>
    <div class="box-sm purple"></div>
  </div>
</body>